USE [master]
GO
/****** Object:  Database [FaunaJoneDB_v3]    Script Date: 4/15/2020 12:05:48 AM ******/
CREATE DATABASE [FaunaJoneDB_v3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FaunaJoneDB_v3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FaunaJoneDB_v3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FaunaJoneDB_v3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FaunaJoneDB_v3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FaunaJoneDB_v3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FaunaJoneDB_v3]
GO
/****** Object:  Table [dbo].[A_Family]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_Family](
	[FamilyID] [int] NOT NULL,
	[Family_AL] [varchar](20) NULL,
	[Family_EN] [varchar](20) NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [varchar](50) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FamilyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[A_Race]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A_Race](
	[RaceID] [int] NOT NULL,
	[Race_AL] [varchar](20) NULL,
	[Race_EN] [varchar](20) NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [varchar](10) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__A_Race__3214EC27A7D02B18] PRIMARY KEY CLUSTERED 
(
	[RaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animal](
	[AnimalID] [varchar](7) NOT NULL,
	[SexID] [int] NOT NULL,
	[Name] [varchar](40) NULL,
	[FamilyID] [int] NULL,
	[RaceID] [int] NULL,
	[Birthday] [date] NULL,
	[OwnerID] [int] NOT NULL,
	[InsertBy] [varchar](10) NULL,
	[InsertDate] [datetime] NULL,
	[LUB] [varchar](10) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NULL,
 CONSTRAINT [PK_Animal] PRIMARY KEY CLUSTERED 
(
	[AnimalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clinic]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinic](
	[ClinicID] [varchar](5) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[PhoneNo] [varchar](13) NULL,
	[Address] [varchar](50) NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [varchar](50) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClinicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyRace]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyRace](
	[AnimalFamily] [int] NOT NULL,
	[AnimalRace] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnimalFamily] ASC,
	[AnimalRace] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[Name] [varchar](30) NOT NULL,
	[Surname] [varchar](30) NOT NULL,
	[Birthday] [date] NULL,
	[PersonID] [int] NOT NULL,
	[PersonalNo] [int] NOT NULL,
	[SexID] [int] NOT NULL,
	[PhoneNo] [varchar](13) NULL,
	[email] [varchar](50) NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [varchar](10) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Owner__AA2FFB851A586225] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [varchar](40) NULL,
	[Descripton] [varchar](max) NULL,
	[InsertBy] [varchar](10) NOT NULL,
	[InsertDate] [datetime] NULL,
	[LUB] [varchar](10) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Roles__8AFACE3A594439BD] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[SexID] [int] NOT NULL,
	[Sex_AL] [varchar](10) NULL,
	[Sex_EN] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SexID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccination]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccination](
	[AnimalID] [varchar](7) NULL,
	[SerialNo] [varchar](20) NULL,
	[VaccinationDate] [date] NULL,
	[IsVaccinated] [bit] NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[UpdateBy] [varchar](10) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateNo] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccine]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccine](
	[SerialNo] [varchar](20) NOT NULL,
	[VaccineID] [int] NOT NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [varchar](10) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Vaccine__5E5A535FAC011EC7] PRIMARY KEY CLUSTERED 
(
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaccineInfo]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaccineInfo](
	[VaccineID] [int] NOT NULL,
	[VaccineName_AL] [varchar](30) NULL,
	[VaccineName_EN] [varchar](30) NULL,
	[VaccineDescription_AL] [varchar](100) NULL,
	[VaccineDescription_EN] [varchar](100) NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [varchar](10) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__VaccineI__45DC68E9097A23A1] PRIMARY KEY CLUSTERED 
(
	[VaccineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veterinarian]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veterinarian](
	[VeterinarianID] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Surname] [varchar](30) NOT NULL,
	[ClinicID] [varchar](5) NOT NULL,
	[RankID] [int] NOT NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [varchar](50) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Veterina__C97D02D8B9FAAF94] PRIMARY KEY CLUSTERED 
(
	[VeterinarianID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeterinarianRank]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeterinarianRank](
	[VeterinarianRankID] [int] NOT NULL,
	[Rank_AL] [varchar](30) NULL,
	[Rank_EN] [varchar](30) NULL,
	[InsertBy] [varchar](10) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [varchar](10) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Veterina__3214EC279AF0B89F] PRIMARY KEY CLUSTERED 
(
	[VeterinarianRankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VetRoles]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VetRoles](
	[RoleID] [int] NULL,
	[VeterinarianID] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visit]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visit](
	[VisitID] [int] NOT NULL,
	[VisitDate] [datetime] NULL,
	[AnimalID] [varchar](7) NOT NULL,
	[VeterinarianID] [varchar](10) NOT NULL,
	[ClinicID] [varchar](5) NOT NULL,
	[Diagnosis] [varchar](max) NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [varchar](10) NULL,
	[LUD] [datetime] NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK__Visit__3214EC27116562A9] PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitVaccines]    Script Date: 4/15/2020 12:05:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitVaccines](
	[GivenVaccine] [varchar](20) NULL,
	[Visit] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[A_Family] ADD  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[A_Family] ADD  DEFAULT ((0)) FOR [LUN]
GO
ALTER TABLE [dbo].[A_Race] ADD  CONSTRAINT [DF__A_Race__InsertDa__4F7CD00D]  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[A_Race] ADD  CONSTRAINT [DF__A_Race__UpdateNo__5070F446]  DEFAULT ((0)) FOR [LUN]
GO
ALTER TABLE [dbo].[Clinic] ADD  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[Clinic] ADD  DEFAULT ((0)) FOR [LUN]
GO
ALTER TABLE [dbo].[Owner] ADD  CONSTRAINT [DF__Owner__InsertDat__5DCAEF64]  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[Owner] ADD  CONSTRAINT [DF__Owner__UpdateNo__5EBF139D]  DEFAULT ((0)) FOR [LUN]
GO
ALTER TABLE [dbo].[Vaccination] ADD  CONSTRAINT [DF__Vaccinati__Inser__74AE54BC]  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[Vaccination] ADD  CONSTRAINT [DF__Vaccinati__Updat__75A278F5]  DEFAULT ((0)) FOR [UpdateNo]
GO
ALTER TABLE [dbo].[Vaccine] ADD  CONSTRAINT [DF__Vaccine__InsertD__66603565]  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[Vaccine] ADD  CONSTRAINT [DF__Vaccine__UpdateN__6754599E]  DEFAULT ((0)) FOR [LUN]
GO
ALTER TABLE [dbo].[VaccineInfo] ADD  CONSTRAINT [DF__VaccineIn__Inser__571DF1D5]  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[VaccineInfo] ADD  CONSTRAINT [DF__VaccineIn__Updat__5812160E]  DEFAULT ((0)) FOR [LUN]
GO
ALTER TABLE [dbo].[Veterinarian] ADD  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[Veterinarian] ADD  DEFAULT ((0)) FOR [LUN]
GO
ALTER TABLE [dbo].[Visit] ADD  CONSTRAINT [DF__Visit__InsertDat__7B5B524B]  DEFAULT (getdate()) FOR [InsertDate]
GO
ALTER TABLE [dbo].[Visit] ADD  CONSTRAINT [DF__Visit__UpdateNo__7C4F7684]  DEFAULT ((0)) FOR [LUN]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK__Animal__628FA481] FOREIGN KEY([FamilyID], [RaceID])
REFERENCES [dbo].[FamilyRace] ([AnimalFamily], [AnimalRace])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK__Animal__628FA481]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK__Animal__PersonID__619B8048] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[Owner] ([PersonID])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK__Animal__PersonID__619B8048]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Sex] FOREIGN KEY([SexID])
REFERENCES [dbo].[Sex] ([SexID])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Sex]
GO
ALTER TABLE [dbo].[FamilyRace]  WITH CHECK ADD FOREIGN KEY([AnimalFamily])
REFERENCES [dbo].[A_Family] ([FamilyID])
GO
ALTER TABLE [dbo].[FamilyRace]  WITH CHECK ADD  CONSTRAINT [FK__FamilyRac__Anima__5441852A] FOREIGN KEY([AnimalRace])
REFERENCES [dbo].[A_Race] ([RaceID])
GO
ALTER TABLE [dbo].[FamilyRace] CHECK CONSTRAINT [FK__FamilyRac__Anima__5441852A]
GO
ALTER TABLE [dbo].[Owner]  WITH CHECK ADD  CONSTRAINT [FK__Owner__SexID__5CD6CB2B] FOREIGN KEY([SexID])
REFERENCES [dbo].[Sex] ([SexID])
GO
ALTER TABLE [dbo].[Owner] CHECK CONSTRAINT [FK__Owner__SexID__5CD6CB2B]
GO
ALTER TABLE [dbo].[Vaccination]  WITH CHECK ADD  CONSTRAINT [FK__Vaccinati__Seria__73BA3083] FOREIGN KEY([SerialNo])
REFERENCES [dbo].[Vaccine] ([SerialNo])
GO
ALTER TABLE [dbo].[Vaccination] CHECK CONSTRAINT [FK__Vaccinati__Seria__73BA3083]
GO
ALTER TABLE [dbo].[Vaccination]  WITH CHECK ADD  CONSTRAINT [FK_Vaccination_Animal] FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animal] ([AnimalID])
GO
ALTER TABLE [dbo].[Vaccination] CHECK CONSTRAINT [FK_Vaccination_Animal]
GO
ALTER TABLE [dbo].[Vaccine]  WITH CHECK ADD  CONSTRAINT [FK__Vaccine__Vaccine__656C112C] FOREIGN KEY([VaccineID])
REFERENCES [dbo].[VaccineInfo] ([VaccineID])
GO
ALTER TABLE [dbo].[Vaccine] CHECK CONSTRAINT [FK__Vaccine__Vaccine__656C112C]
GO
ALTER TABLE [dbo].[Veterinarian]  WITH CHECK ADD FOREIGN KEY([ClinicID])
REFERENCES [dbo].[Clinic] ([ClinicID])
GO
ALTER TABLE [dbo].[Veterinarian]  WITH CHECK ADD  CONSTRAINT [FK__Veterinar__RankI__6E01572D] FOREIGN KEY([RankID])
REFERENCES [dbo].[VeterinarianRank] ([VeterinarianRankID])
GO
ALTER TABLE [dbo].[Veterinarian] CHECK CONSTRAINT [FK__Veterinar__RankI__6E01572D]
GO
ALTER TABLE [dbo].[VetRoles]  WITH CHECK ADD  CONSTRAINT [FK__VetRoles__RoleID__17036CC0] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[VetRoles] CHECK CONSTRAINT [FK__VetRoles__RoleID__17036CC0]
GO
ALTER TABLE [dbo].[VetRoles]  WITH CHECK ADD  CONSTRAINT [FK_VetRoles_Veterinarian] FOREIGN KEY([VeterinarianID])
REFERENCES [dbo].[Veterinarian] ([VeterinarianID])
GO
ALTER TABLE [dbo].[VetRoles] CHECK CONSTRAINT [FK_VetRoles_Veterinarian]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK__Visit__ClinicID__7A672E12] FOREIGN KEY([ClinicID])
REFERENCES [dbo].[Clinic] ([ClinicID])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK__Visit__ClinicID__7A672E12]
GO
ALTER TABLE [dbo].[Visit]  WITH CHECK ADD  CONSTRAINT [FK_Visit_Animal] FOREIGN KEY([AnimalID])
REFERENCES [dbo].[Animal] ([AnimalID])
GO
ALTER TABLE [dbo].[Visit] CHECK CONSTRAINT [FK_Visit_Animal]
GO
ALTER TABLE [dbo].[VisitVaccines]  WITH CHECK ADD  CONSTRAINT [FK__VisitVacc__Given__7E37BEF6] FOREIGN KEY([GivenVaccine])
REFERENCES [dbo].[Vaccine] ([SerialNo])
GO
ALTER TABLE [dbo].[VisitVaccines] CHECK CONSTRAINT [FK__VisitVacc__Given__7E37BEF6]
GO
ALTER TABLE [dbo].[VisitVaccines]  WITH CHECK ADD  CONSTRAINT [FK__VisitVacc__Visit__7F2BE32F] FOREIGN KEY([Visit])
REFERENCES [dbo].[Visit] ([VisitID])
GO
ALTER TABLE [dbo].[VisitVaccines] CHECK CONSTRAINT [FK__VisitVacc__Visit__7F2BE32F]
GO
USE [master]
GO
