<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="sqlConnection" connectionString="Server=JON-KURSANI; Database=FaunaJoneDB_v3; User Id=sa; Password=sa123;" />-->
   <!--<add name="FaunaJoneDB" connectionString="Data Source=DESKTOP-98J04PK\SQLEXPRESS01;Initial Catalog=FaunaJoneDB_v3;Integrated Security=True" />-->
    <!--<add name="FaunaJoneDB" connectionString="Data Source=PLEURAT;Initial Catalog=FaunaJoneDB_v3;Integrated Security=True"/>-->
     <add name="FaunaJoneDB" connectionString="Data Source=JONKURSANI;Initial Catalog=FaunaJoneDB_v3;Integrated Security=True"/>
    <!--<add name="FaunaJoneDB" connectionString="Data Source=PRAD108C1647\SQLEXPRESS01;Initial Catalog=FaunaJoneDB_v3;Integrated Security=True" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>